
.container {
    max-width: 400px;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: Arial, sans-serif;
}

.row {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}


select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #aaa;
    font-size: 14px;
}

.row span {
    display: block;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    font-size: 14px;
}

