form{
  max-width: 400px;
  margin: 0 auto;
}
div{
  margin-bottom: 15px;
}
label{
  display: block;
  margin-bottom: 5px;
}
input, textarea{
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
button[disabled]{
  cursor: not-allowed;
  background-color: #cccccc;
}
.error{
  color: red;
  background-color:rgb(253, 214, 237);
  font-size: 15px;
}
